
      <main class="content">

        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>

        <div class="post-container">
          <h3 class="post-title">Conctactos</h3>
          <div class="post-content">
            <table>
              <% if current_user.contacts.where(pending: false).length>0%>
              <thead>
              <!--<tr>-->
              <th>Imagem</th>
              <th>Nome</th>
              <th>Idade</th>
              <th>País</th>
              <th>Descrição</th>
              <th></th>
              <th></th>
              <th></th>
              </tr>
              </thead>
              <tbody>
                <% else %>
                    Não existe contactos
                <% end %>
              <% current_user.contacts.where(pending: false).each do |contact| %>
                  <tr>
                    <td><%= image_tag User.find(contact.contactee_id).avatar(:thumb) %></td>
                    <td><%= link_to User.find(contact.contactee_id).name, User.find(contact.contactee_id)  %></td>
                    <td><%= User.find(contact.contactee_id).age %></td>
                    <td><%= User.find(contact.contactee_id).country %></td>
                    <td><%= User.find(contact.contactee_id).description %></td>
                    <% if signed_in? && current_user.admin?  %>
                        <td>
                          <%= link_to 'Remover contacto', :action => 'destroy', :controller => 'contacts',
                                      :contact_id => current_user.id, :contactee_id => User.find(contact.contactee_id).id %>
                        </td>
                    <% end %>
                  </tr>
              <% end %>
              </tbody>
                </table>
          </div>
        </div>
        <div class="post-container">
          <h3 class="post-title">Pedidos de contacto pendentes</h3>
          <div class="post-content">
            <table>
              <% if current_user.contacts.where(pending: true).length>0%>
              <thead>
              <!--<tr>-->
              <th>Imagem</th>
              <th>Nome</th>
              <th>Idade</th>
              <th>País</th>
              <th>Descrição</th>
              <th></th>
              <th></th>
              <th></th>
              </tr>
              </thead>
              <tbody>
                <% else %>
              Não há contactos pendentes
                  <% end %>
              <% current_user.contacts.where(pending: true).each do |contact| %>
                  <tr>
                    <td><%= image_tag User.find(contact.contactee_id).avatar(:thumb) %></td>
                    <td><%= link_to User.find(contact.contactee_id).name, User.find(contact.contactee_id)  %></td>
                    <td><%= User.find(contact.contactee_id).age %></td>
                    <td><%= User.find(contact.contactee_id).country %></td>
                    <td><%= User.find(contact.contactee_id).description %></td>
                    <% if User.find(contact.contact_id).id != current_user.id %>
                    <% if signed_in? && current_user.admin?  %>
                        <td>
                          <%= link_to 'Aceitar', :action => 'accept_contact', :controller => 'contacts',
                                      :contact_id => current_user.id, :contactee_id => User.find(contact.contactee_id).id %>
                        </td>
                        <td>
                          <%= link_to 'Rejeitar', :action => 'reject_contact', :controller => 'contacts',
                                      :contact_id => current_user.id, :contactee_id => User.find(contact.contactee_id).id %>
                        </td>
                    <% end %>
                     <% else %>
                        <td>
                        <%= link_to 'Cancelar', :action => 'reject_contact', :controller => 'contacts',
                                    :contact_id => current_user.id, :contactee_id => User.find(contact.contactee_id).id %>
                        </td>
                    <% end %>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="post-form">
          <h3 class="post-form-title"><%= link_to 'Enviar pedido de contacto', home_contact_path %></h3>


        </div>
      </main><!-- .content -->
