
      <main class="content">

        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>

        <div class="post-container">
          <h3 class="post-title">Conctactos</h3>
          <div class="post-content">
            <% if current_user.reverse_contacts.where(pending: false).length>0 ||
                    current_user.contacts.where(pending: false).length>0 %>
            <table>

              <thead>
              <!--<tr>-->
              <th>Imagem</th>
              <th>Nome</th>
              <th>Idade</th>
              <th>País</th>
              <th>Descrição</th>
              <th></th>
              <th></th>
              <th></th>
              </tr>
              </thead>
              <tbody>

              <% current_user.reverse_contacts.where(pending: false).each do |contact| %>
                  <tr>
                    <td><%= image_tag User.find(contact.contact_id).avatar(:thumb) %></td>
                    <td><%= link_to User.find(contact.contact_id).name, User.find(contact.contact_id)  %></td>
                    <td><%= User.find(contact.contact_id).age %></td>
                    <td><%= User.find(contact.contact_id).country %></td>
                    <td><%= User.find(contact.contact_id).description %></td>
                    <% if signed_in? || current_user.admin?  %>
                        <td>
                          <%= link_to 'Remover contacto', :action => 'destroy', :controller => 'contacts',
                                      :contact_id => contact.contact_id, :contactee_id => current_user.id %>
                        </td>
                    <% end %>
                  </tr>
              <% end %>



              <% current_user.contacts.where(pending: false).each do |contact| %>
                  <tr>
                    <td><%= image_tag User.find(contact.contactee_id).avatar(:thumb) %></td>
                    <td><%= link_to User.find(contact.contactee_id).name, User.find(contact.contactee_id)  %></td>
                    <td><%= User.find(contact.contactee_id).age %></td>
                    <td><%= User.find(contact.contactee_id).country %></td>
                    <td><%= User.find(contact.contactee_id).description %></td>
                    <% if signed_in? || current_user.admin?  %>
                        <td>
                          <%= link_to 'Remover contacto', :action => 'destroy', :controller => 'contacts',
                                      :contact_id => current_user.id, :contactee_id => contact.contactee_id %>
                        </td>
                    <% end %>
                  </tr>
              <% end %>


              </tbody>

                </table>
                <% else %>
                    Não existe contactos.
                <% end %>
          </div>
        </div>
        <div class="post-container">
          <h3 class="post-title">Pedidos de contacto pendentes</h3>
          <div class="post-content">
            <% if Contact.where(pending: true, contactee_id: current_user).length>0 %>
            <table>

              <thead>
              <!--<tr>-->
              <th>Imagem</th>
              <th>Nome</th>
              <th>Idade</th>
              <th>País</th>
              <th>Descrição</th>
              <th></th>
              <th></th>
              <th></th>
              </tr>
              </thead>
              <tbody>

              <% Contact.where(pending: true, contactee_id: current_user).each do |contact| %>
                  <tr>
                    <td><%= image_tag User.find(contact.contact_id).avatar(:thumb) %></td>
                    <td><%= link_to User.find(contact.contact_id).name, User.find(contact.contact_id)  %></td>
                    <td><%= User.find(contact.contact_id).age %></td>
                    <td><%= User.find(contact.contact_id).country %></td>
                    <td><%= User.find(contact.contact_id).description %></td>
                    <% if signed_in? || current_user.admin?  %>
                        <td>
                          <%= link_to 'Aceitar', :action => 'accept_contact', :controller => 'contacts',
                                      :contact_id => contact.contact_id, :contactee_id => current_user.id %>
                        </td>
                        <td>
                          <%= link_to 'Rejeitar', :action => 'reject_contact', :controller => 'contacts',
                                      :contact_id => contact.contact_id, :contactee_id => current_user.id %>
                        </td>
                    <% end %>
                  </tr>
              <% end %>
              </tbody>

            </table>
             <% else %>
                Não existe pedidos pendentes
              <% end %>
          </div>
        </div>
        <div class="post-form">
          <h3 class="post-form-title"><%= link_to 'Enviar pedido de contacto', home_contact_path %></h3>


        </div>
      </main><!-- .content -->
