
      <main class="content">
        <%= form_tag("/search", method: "get") do %>
            <%= label_tag(:query, "Search for:") %>
            <%= text_field_tag(:query) %>
            <%= submit_tag("Search") %>
        <% end %>

        <br>
        <div id="search_results_header">
          Resultados da pesquisa
          <div id="search_results">
            <ul class="tabs">
              <li class="current">Utilizadores</li>
              <li>Empresas</li>
            </ul>

            <div class="box visible">

              <%= @users_found.name unless @users_found.nil?%>

            </div>
            <div class="box">
              <p><a href="#">Empresa 1</a></p>
              <p><a href="#">Empresa 2</a></p>
              <p><a href="#">Empresa 3</a></p>
            </div>
          </div>
        </div>
      </main><!-- .content -->

