
      <main class="content">
        <%= form_tag("/search", method: "get") do %>
            <%= label_tag(:query, "Search for:") %>
            <%= text_field_tag :query, '', :id => 'search_query' %>
            <%= submit_tag "Pesquisar", :id => 'search_button' %>
        <% end %>

        <br>
        <% if @users_found.count>0 %>

        <div id="search_results_header">
          <%= @users_found.count %> users matching the query have been found!<br>
        </div>

        <div id="search_results">
            <ul class="tabs">
              <li class="current">Utilizadores</li>
              <li>Empresas</li>
            </ul>

            <div class="box visible">
              <table>
                <% @users_found.each do |t| %>
                    <tr>
                        <td><%= link_to t.name, user_path(t) %></td>
                        <% if signed_in? %>
                            <% if current_user.admin? %>
                                <td><%= link_to 'Edit', edit_user_path(t) %></td>
                                <% if !current_user?(t) %>
                                    <td><%= link_to 'Delete', t, method: :delete, data: { confirm: "You sure?" } %></td>
                                <% end %>
                          <% end %>
                        <% end %>
                    </tr>
                <% end %>
              </table>
              <div class="pagination">

                <%= will_paginate @users_found %>

              </div>
            </div>

            <div class="box">
              <p><a href="#">Empresa 1</a></p>
              <p><a href="#">Empresa 2</a></p>
              <p><a href="#">Empresa 3</a></p>
            </div>
        </div>
        <% end %>

      </main><!-- .content -->

