<main class="content">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

    <% @news.each do |news| %>
      <div class="post-container">
        <h3 class="post-title"><%= news.title %>
        </h3>
        <div class="post-thumb"><%= image_tag news.image %></div>
        <div class="post-content"><p><%= news.content %></p></div>
        <div class="post-footer">

          <% if signed_in? && current_user.admin? %>
              <%= link_to "Apagar a notícia", news, method: :delete, data: { confirm: "You sure?" }, :style=>'float:left;' %>
          <% end %>
          <%= image_tag news.user.avatar.url(:thumb) %>
        <%= link_to User.find(news.user_id).name, user_path(news.user_id), :class => "name" %> on <%= news.created_at %>
        </div>
      </div>
    <% end %>



  <% if signed_in? %>
  <div class="post-form">
    <h3 class="post-form-title"><%= link_to 'Adicionar notícia', new_news_path %></h3>


      </div>
      <% end %>
  <div class="pagination">
    <%= will_paginate %>
  </div>



</main>