<main class="content">
  <div class="register_form">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <table>
      <%= form_for @news do |f| %>
          <tr>
            <td><%= f.label :title %></td>
            <td><%= f.text_field :title %></td>
          </tr>
          <tr>
            <td><%= f.label :content %></td>
            <td><%= f.text_area :content, :size => "40x15" %></td>
          </tr>
          <tr>
            <td><%= f.label :image %></td>
            <td><%= f.file_field :image %></td>
          </tr>
          <%=f.hidden_field :user_id, value: current_user.id %>
          <tr>
            <td colspan="2" style="text-align: center"><%= f.submit "Adicionar a noticia" %></td>
          </tr>
      <% end %>
    </table>
  </div>
</main>
