<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @news.photo %>
</p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @news.timestamp %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
