<main class="content">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <div class="post-container">
    <h3 class="post-title">Lista de empresas</h3>
    <div class="post-content">
      <table>
        <thead>
        <!--<tr>-->
        <th>Logo</th>
        <th>Nome</th>
        <th>Homepage</th>
        <th>Descrição</th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
        </thead>
        <tbody>
        <% @companies.each do |company| %>
            <tr>
              <td><%= image_tag company.logo(:thumb) %></td>
              <td><%= link_to company.name, company %></td>
              <% if company.homepage.start_with?('http://') %>
                  <td><%= link_to content_tag(:span, company.homepage), company.homepage %></td>
              <% else %>
                  <td><%= link_to content_tag(:span, company.homepage), 'http://'+ company.homepage %></td>
              <% end %>
              <td><%= company.homepage %></td>
              <td><%= truncate(company.description, :length => 34) %></td>

              <% if signed_in? && current_user.admin? %>
               <td><%= link_to 'Edit', edit_company_path(company) %></td>
               <td><%= link_to "delete", company, method: :delete, data: { confirm: "You sure?" } %></td>
                  <% end %>

            </tr>
        <% end %>
        </tbody>
      </table>
      <div class="pagination">
        <%= will_paginate %>
      </div>
    </div>


  </div>

</main><!-- .content -->