<main class="content">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div class="post-container">
    <h3 class="post-title">Informação sobre "<%= @company.name %>"</h3>
    <div class="post-content">
      <table>
        <tr>
          <td><%=image_tag @company.logo.url(:medium)%></td><td></td>
        </tr>
        <tr>
          <th>Nome:</th><td><%= @company.name %></td>
        </tr>
        <tr>
          <% if @company.homepage.start_with?('http://') %>
              <th>Homepage:</th><td><%= link_to content_tag(:span, @company.homepage), @company.homepage %></td>
          <% else %>
              <th>Homepage:</th><td><%= link_to content_tag(:span, @company.homepage), 'http://'+ @company.homepage %></td>
          <% end %>
        </tr>
        <tr>
          <th>Descrição:</th><td><%= @company.description %>y</td>
        </tr>

        <% if signed_in? && (current_user.admin? || owners(@company).include?(current_user) )  %>
            <tr>
              <td><%= link_to 'Modificar a empresa', edit_company_path(@company) %></td>
              <td><%= link_to 'Apagar a empresa', @company, method: :delete, data: { confirm: "You sure?" } %></td>
            </tr>
        <% end %>

      </table>
    </div>
  </div>
  <div class="post-container">
    <h3 class="post-title">Colaboradores presentes</h3>
    <div class="post-content">
      <% if members(@company).length>0 %>
          <table>
            <thead>
            <!--<tr>-->
            <th>Imagem</th>
            <th>Nome</th>
            <th>Cargo</th>
            <th></th>
            <th></th>
            </tr>
            </thead>
            <tbody>

            <% members(@company).each do |user| %>
                <tr>
                  <td><%= image_tag user.avatar(:thumb) %></td>
                  <td><%= link_to user.name, user %></td>
                  <% if owners(@company).include?(user) %>
                    <td>Presidente</td>
                  <% end %>
                  <% if signed_in? && (current_user.admin? || ( owners(@company).include?(current_user) && !owners(@company).include?(user) ))  %>
                      <td>
                        <%= link_to 'Remover colaborador', :action => 'destroy', :controller => 'memberships',
                                    :user_id => user.id, :company => @company %>
                      </td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
          <div class="pagination">
          </div>
       <% else %>
      Não existem colaboraderes presentes nesta empresa
      <% end %>

    </div>
  </div>
  <div class="post-container">
    <h3 class="post-title">Colaboradores passados</h3>
    <div class="post-content">
      <% if ex(@company).length>0 %>
      <table>
        <thead>
        <!--<tr>-->
        <th>Imagem</th>
        <th>Nome</th>
        <th>Cargo</th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
        </thead>
        <tbody>
        <% ex(@company).each do |user| %>
            <tr>
              <td><%= image_tag user.avatar(:thumb) %></td>
              <td><%= link_to user.name, user %></td>
              <td><%= user.description %></td>
              <td><%= link_to 'More info', user %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <% else %>
          Não existem colaboraderes passados nesta empresa
      <% end %>
      <div class="pagination">
      </div>


    </div>
  </div>
</main><!-- .content -->