<aside class="left-sidebar">
  <% if signed_in? %>
      <div class="user_info">
        <table>
          <tr>
            <td rowspan="3"><%= link_to image_tag(current_user.avatar.url(:thumb)), user_path(current_user) %></td>
            <td><%= current_user.name %></td>
          </tr>
          <tr>
            <td><%= current_user.age %></td>
          </tr>
          <tr>
            <td><%= current_user.country %></td>
          </tr>
          <tr>
            <td><%= link_to 'Modificar o perfil', edit_user_path(current_user) %></td><td>&nbsp;</td>
          </tr>
        </table>
      </div>
   <% end %>
  <nav id="navigation">
    <ul class="vmenu">
      <li class="home"><%= link_to "Home", root_path, :class => "menu_selected" %></li>
      <% if signed_in? %>
          <li class="utilizador parent"><a href="#"><span class="menu_hidden">Utilizador</span></a>
            <ul class="dropdown">
              <li><%= link_to content_tag(:span, "Painel do utilizador"), current_user %></li>
              <li><%= link_to content_tag(:span, "Lista de utilizadores"), users_path %></li>
            </ul>
          </li>
          <li class="empresas parent"><a href="#"><span class="menu_hidden">Empresa</span></a>
            <ul class="dropdown">
              <li><%= link_to content_tag(:span, "Nova empresa"), new_company_path%></li>
              <li><%= link_to content_tag(:span, "Lista de empresas"), companies_path%></li>
            </ul>
          </li>
          <li class="contactos"><%= link_to "Contactos", home_contacts_path %></li>
      <% end %>
      <li class="pesquisa_menu"><%= link_to "Pesquisa", home_search_path %></li>
    </ul>
  </nav>
  <% if signed_in? %>
      <div class="recent_activity">
        <h2>Actividade Recente</h2>
            <% articles.each do |na| %>
                <p><%= link_to content_tag(:span, na.title), na %>
                by <%= link_to content_tag(:span, na.user.name), na.user  %></p>
            <% end %>
      </div>
  <% end %>
</aside><!-- .left-sidebar -->