<aside class="left-sidebar">
  <%  cur_page = request.env['PATH_INFO']
    if cur_page == '/'
        home = true;
    end
    if cur_page == '/users'
      users = true;
    end
    if cur_page.include? '/users/'
      user_cp = true;
    end
    if cur_page == '/companies'
      companies = true;
    end
    if cur_page.include? '/companies/'
      company_cp = true;
    end
    if cur_page == '/home/contacts'
      contacts = true;
    end
    if cur_page == '/home/search'
      search = true;
    end
  %>
  <% if signed_in?%>
      <div class="user_info">
        <table>
          <tr>
            <td rowspan="3"><%= link_to image_tag(current_user.avatar.url(:thumb)), user_path(current_user) %></td>
            <td><%= current_user.name %></td>
          </tr>
          <tr>
            <td><%= current_user.age %></td>
          </tr>
          <tr>
            <td><%= current_user.country %></td>
          </tr>
          <tr>
            <td><%= link_to 'Modificar o perfil', edit_user_path(current_user) %></td><td>&nbsp;</td>
          </tr>
        </table>
      </div>
   <% end %>
  <nav id="navigation">
    <ul class="vmenu">
      <li class="home"><%= link_to "Home", root_path, :class => home ? "menu_selected" : "menu_hidden" %></li>
      <% if signed_in? %>
          <% if users || user_cp %>
              <li class="utilizador parent"><a href="#"><span class="menu_selected">Utilizador</span></a>
          <% else %>
              <li class="utilizador parent"><a href="#"><span class="menu_hidden">Utilizador</span></a>
          <% end %>
            <ul class="dropdown">
              <li><%= link_to content_tag(:span, "Painel do utilizador", :class => user_cp ? "drop_selected" : "drop_hidden"), current_user %></li>
              <li><%= link_to content_tag(:span, "Lista de utilizadores", :class => users ? "drop_selected" : "drop_hidden"), users_path %></li>
            </ul>
          </li>
          <% if companies || company_cp %>
              <li class="empresas parent"><a href="#"><span class="menu_selected">Empresa</span></a>
          <% else %>
              <li class="empresas parent"><a href="#"><span class="menu_hidden">Empresa</span></a>
          <% end %>
            <ul class="dropdown">
              <li><%= link_to content_tag(:span, "Nova empresa", :class => company_cp ? "drop_selected" : "drop_hidden"), new_company_path%></li>
              <li><%= link_to content_tag(:span, "Lista de empresas",  :class => companies ? "drop_selected" : "drop_hidden"), companies_path%></li>
            </ul>
          </li>
          <li class="contactos"><%= link_to "Contactos",home_contacts_path, {:class => contacts ? "menu_selected" : "menu_hidden"} %></li>
      <% end %>
      <li class="pesquisa_menu"><%= link_to "Pesquisa", home_search_path, {:class => search ? "menu_selected" : "menu_hidden"} %></li>
    </ul>
  </nav>
  <% if signed_in? %>
      <div class="recent_activity">
        <h2>Actividade Recente</h2>
            <% articles.each do |na| %>
                <p><%= link_to content_tag(:span, na.title), na %>
                by <%= link_to content_tag(:span, na.user.name), na.user  %></p>
            <% end %>
      </div>
  <% end %>
</aside><!-- .left-sidebar -->